<ul>
  <%- @tickets.each_with_index do |ticket, i| %>
    <li class="my-6">
      <%= render 'ticket_card', ticket: ticket %>
    </li>
    <% if i + 1 < @tickets.size %>
      <hr>
    <% end %>
  <% end %>
</ul>
