<section class="my-6">
  <h2 class="text-4xl font-lexenddeca">Hello!</h2>
  <p class="text-xl mb-6">This is an experimental tool built by Suraj and Joseph (with David Kane's help) that allows you to see organisations that Catalyst has interacted with. It's very new and may break at any moment as we make improvements.</p>
  <p class="text-xl mb-6">Be aware that the data may not be 100% accurate, and is not live (so new interactions since we last grabbed the data will not be listed).</p>
  <p class="text-xl">Data comes from:</p>
  <ul class="text-xl mb-6 list-disc ml-6">
    <li>Digital Candle</li>
    <li>Design Hops (online and in person)</li>
    <li>Nesta Needs Assessment Form</li>
    <li>Service Recipes</li>
    <li>Anchor Org Form</li>
  </ul>
  <p class="text-xl mb-6">Any bugs, ideas, questions, contact us on Slack.</p>
  <p class="text-xl mb-6">Enjoy!</p>
</section>
