<section class="my-6">
  <h2 class="text-4xl font-lexenddeca">H2</h2>
  <p class="text-xl mb-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis placeat corrupti quam beatae. Veniam non assumenda in, ipsa nam doloribus ut adipisci nisi nesciunt eos voluptate animi exercitationem alias sunt?</p>
  <a href="#" class="inline-flex text-white font-semibold bg-brand-navy rounded-md px-16 py-3 hover:bg-opacity-75 transition-all duration-200">Button</a>
</section>
