<section class="my-6">
  <h2 class="text-4xl font-lexenddeca">Hello!</h2>
  <p class="text-xl mb-6">This is an experimental tool built by Suraj and Joseph (with David Kane's help) that allows you to see organisations that Catalyst has interacted with. It's very new and may break at any moment.</p>
  <p class="text-xl mb-6">Be aware that the data may not be 100% accurate, and is not live (so new interactions since we last grabbed the data will not be listed).</p>
  <p class="text-xl mb-6">Any bugs, ideas, questions, contact us on Slack.</p>
</section>
