<section class="my-6">
  <h2 class="text-4xl font-lexenddeca">H2</h2>
  <p class="text-xl mb-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis placeat corrupti quam beatae. Veniam non assumenda in, ipsa nam doloribus ut adipisci nisi nesciunt eos voluptate animi exercitationem alias sunt?</p>
  <a href="#" class="btn text-white bg-brand-navy">Button</a>
</section>
